$darkBlue: #2D3142;
$gray: #BFC0C0;
$white: #FFFFFF;
$orange: #EF8343;
$blue: #4F5D75;
$lightGray: #ECECEC;

@font-face {
    font-family: futura_medium;
    src: url(../assets/futura_medium.ttf);
}

@import 'mixins';

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	color: $darkBlue;
	background-color: $lightGray;
	font-family: futura_medium;
	letter-spacing: 3px;
}

nav {
	position: relative;
	height: 60px;
	background-color: $lightGray;
	#logo {
		float: left;
		margin: 20px 0 0 25px;
		font-size: 40px;
	}
	ul {
		height: 60px;
		float: right;
		margin: 0 40px 0 0;
		padding: 0 0 0 10px;
		li {
			display: inline-block;
			line-height: 60px;
			padding: 0 10px 0 0;
			font-size: 20px;
		}
	}
}

.section {
	width: 100%;
	padding: 100px 0 0;
	h2 {
		text-align: center;
		font-size: 50px;
		line-height: 50px;
		margin: 0 0 70px;
	}
}

#home {
	height: calc(100% - 60px);
	padding: 0;
	background-color: $lightGray;
	position: relative;
	h1 {
		text-align: center;
		margin: 0 0 15px;
		font-size: 64px;
		line-height: 64px;
		text-transform: uppercase;
		padding-top: 25%;
	}
	h2 {
		margin: 0;
		font-size: 28px;
		line-height: 28px;
	}
	#arrow {
		height: 20px;
		width: 20px;
		position: absolute;
		bottom: 40px;
		left: calc(50% - 10px);
		border: 5px solid $darkBlue;
		border-top: none;
		border-left: none;
		transform: rotate(45deg);
	}
}

#work {
	height: calc(100% - 100px);
	background-color: $white;
	@include transition(0.6s, ease-in-out);
	#projects {
		margin: 0 auto;
		width: 892px;
		div {
			height: 200px;
			width: 200px;
			background-color: rgba(0, 0, 0, 0.4);
			margin: 0 10px 20px;
			display: inline-block;
		}
	}
}

#about {
	height: calc(100% - 100px);
	background-color: $lightGray;
	p {
		margin: 0 40px;
		font-size: 28px;
		padding-bottom: 15px;
	}
}

#contact {
	height: 40%;
	background-color: $blue;
	#contact-details {
		width: calc(100% - 140px);
		min-height: 100px;
		margin: 0 40px 0 100px;
		div {
			display: inline-block;
			padding: 10px 0;
			font-size: 24px;
			&:nth-child(odd) {
				width: calc(55% - 4px);
			}
			&:nth-child(even) {
				width: calc(45% - 4px);
			}
		}
	}
}